html,body{ 
    height:100%;
    margin:0px; 
    padding:0; 
}

button {
    outline: none;
    border: solid;
    border-width: 2px;
    border-color: #e89a3e;
    border-radius: 12px;
 }

 /* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e5e5e5; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Home Screen */
.home-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* Playground */
/* .background{ background image will rescale when resizing
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("./img/background1.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
} */
.background{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url("./img/background1.jpg") scroll;
    background-size: cover;
    
}
.playground-container{
    /* border: solid; */
    position: absolute;
    padding: 0;
    width: 620px;
    height: 420px;
    top: 24%;
    left: 10%;
}
.playground-wrapper{
    display: inline-block;
    position: relative;
    left: 2px;
    top: 5px;
}
.playground-row{
    width: 620px;
    height: 40px;
    margin-bottom: 1px;
}
.playground-item{
    margin:0;
    padding:0;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 1px;
    /* background-image: url('./component/sprite/grass.jpg'); */
    background-size: cover;
}
.playground-header{
    position: relative;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    top: 10px;
}
.level-name{
    height: 50%;
    text-align: center;
    font-size: xx-large;
    color: #f1e336;
    font-weight: 900;
}
.level-progress{
    height: 50%;
    text-align: center;
    font-size: large;
    color: #b5ffb4;
}
.code-panel{
    position: relative;
    width: 416px;
    height: 500px;
    left: 61vw;
}
.level-guide{
    height: 50%;
    border-bottom: solid;
    background-color: #cce990d9;
    overflow: auto;
    font-weight: 600;
    font-size: 14px;
    border-bottom-color: #a2ad00;
}
.guide-content{
    overflow-wrap: break-word;
    margin: 10px;
}
.code-container{
    height: 50%;
    min-height: 25%;
    max-height: 75%;
    border-top: solid;
    border-top-color: #a2ad00;
}
.react-codemirror2 {
    height: 100%;
}
.CodeMirror {
height: 100% !important;
}
.run-code-button-container{
    height: 24px;
    display: inline-block;
    width: 99%;
    position: absolute;
    bottom: -2px;
    z-index: 9;
    background-color: gainsboro;
}
.run-code-button{
    height: 20px;
    width: 24%;
    position: relative;
    left: 73%;
}

/* menu */
.top-right{
    position: absolute;
    display: inline-flex;
    left: 70%;
    top: 13px;
}
.top-right-item{
    margin-left: 10px;
    margin-right: 10px;
}
.menu-tricker{
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: larger;
    background-color: #ffff8fd4;
    border: solid;
    border-color: #38bf00;
    border-width: 2px;
    border-radius: 12px;
}
.level-navigator{
    width: 80px;
    height: 30px;
    font-family: fantasy;
    font-size: large;
    background-color: #faebd7a6;
}
.menu{
    
}
